<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Post Details</title>
	<th:block th:include="partials/bootstrap :: styling"></th:block>
</head>
<body>

<div class="container mt-4 mb-5">
	<h1>Viewing Single Post</h1>
</div>

<div class="container mt-5">
<!--	<h3>Post Title</h3>-->
	<h4 th:text="${post.title}" class=""></h4>
	<hr>
<!--	<h3 class="mt-5">Body</h3>-->
		<p th:text="${post.body}" class="font weight bold"></p>


	<div class="row mt-4">
		<div class="col-md-6">
			<!-- Edit button -->
			<a th:href="@{/posts}" class="btn btn-secondary mr-2">Back to Posts</a>
			<a th:href="@{/posts/{id}/edit(id=${post.id})}" class="btn btn-primary">Edit</a>
		</div>
		<div class="col-md-6 text-md-right">
			<!-- Delete button -->
			<form th:action="@{/posts/{id}/delete(id=${post.id})}" method="post">
				<button type="submit" class="btn btn-danger">Delete</button>
			</form>
		</div>
	</div>
</div>

<div class="container">
	<!-- Content here -->
</div>
</body>
</html>
